.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Light background color */
}

.login-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Limit the width of the form */
  padding: 30px;
  box-sizing: border-box;
}

.info-side {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.text-secondary {
  text-align: center;
}

.btn-primary {
  width: 100%;
  padding: 10px;
}
